[Unit]
Description=Media pipeline setup for supported cameras
After=systemd-udevd.service
Wants=systemd-udevd.service

[Service]
Type=oneshot
ExecStart=/usr/bin/camera-setup.sh ap1302 /dev/video0 5mp YUYV 30
ExecStart=/usr/bin/camera-setup.sh boson /dev/video1 full YUYV
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
